*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


button{
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -o-border-radius: initial;
  border-radius: 8px;
  border: initial;
}

/**** S H A R E D *****/
/* login | signUp */
.button{
  width: 80%;
  font-size: medium;
  height: 40px;
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -o-border-radius: initial;
  border-radius: 8px;
  border: initial;
}


.bottom-drawer{
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  bottom: 0px;
  width: 90vw;
  height: 60vh;
  margin: auto;
}

