/** S A L E S ***/

.home-carousel-container{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    overflow:auto;
}
.item-carousel{
    max-width: 35vw;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
}

.item-carousel-img{
    align-self: center;
    width: 150px;
    height: 150px;
}
.item-price{
    font-size: 18px;
}
.item-reg-price{
    font-size: 12px;
    margin: 0 8px;
    text-decoration: line-through;
}
.item-promo{
    font-size: 12px;
}

.item-name{
    font-size: 16px;
    font-weight: 400;
}
.item-location{
    font-size: 14px;
    font-weight: 300;
}


/*** E X P L O R E ***/
#dept-title{
    padding: 16px;
    color: #4FA329;
    font-size: 36px;
    font-weight: bold;
}

.dept-category-container{
    display: flex;
    flex-direction: column;
    border-bottom: .5px solid #979797;
}
.dept-category{
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    margin: 8px 0 8px 0;
    padding: 0 16px 0 16px;
    font-weight: 300;
}
.dept-category > h1 {
    color:black;
    font-size: 26px;
    margin-top: 24px;
}
.dept-aisle{
    padding: 0 16px 0 16px;
    font-size: 18px;
    color: #868686;
}
.dept-category-carousel{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    overflow:auto;
    
}
.category-carousel-item{
    width: 30vw;
    margin: 24px 32px;
    justify-self: center;
    text-align: center;
}
.category-carousel-img{
    max-height: 100px;
    height: 80px;
    display: block;
    margin: 0 auto 8px auto;
}
.category-carousel-txt{
    font-size: 21px;

}

/*** C A T E G O R Y   L I S T ***/
.category-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
}

.category-search > div{
    width: 40vw;
    height: 50%;
    margin: 40px auto;
}
.category-items{
    display: flex;
    flex-direction: column;
}

.cat-image{
    width: 150px;
    align-self: center;
}
.cat-items-info{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0 12px;
    height: 100px;
    justify-content: space-around;
}