/** S P L A S H    P A G E ***/
.splash-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90vh;
    overflow: hidden;
}
.splash-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.splash-top > h2{
    color: #4FA329;
    font-size: 45px;
    font-weight: bold;
}

.splash-top > h3{
    color: #4FA329;
    font-size: 40px;
    font-weight: bold;

}
.splash-top > p{
    color: #515151;
    font-size: 21px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}
.splash-container > img{
    transform: scale(1.75);
}

.splash-bottom{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
}
.splash-bottom > Button {
    margin: 8px;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.cred-divider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cred-divider > p{
    height: auto;
    padding: 8px;
}
.cred-divider > hr {
    width: 40%;
    height: .5px;
    background-color: grey;
}
/*** L O G I N  F O R M ***/ 
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
}

#fPassword{
    text-align: right;
    color: grey;
}


/*** D R A W E R ***/
.MuiDrawer-paperAnchorBottom{
    padding: 40px;
    border-radius: 5% 5% 0 0;
}
#sDrawer-button{
   background-color: grey;
   height: 2.5rem;
   margin: 4px 0 4px 0;
   color: white;
}


/*** P A Y M E N T   M E T H O D ***/
.payment-default{
    display: flex;
    flex-direction: column;
}


/*** C R E A T E   A C C O U N T ***/
#pass-req{
    font-size: 18px;
    color: #9E9E9E;
}
#private-policy{
    font-size: 12px;
    margin: 24px 0;
    color: #4C4C4C;
}
#private-policy > span {
    color: black;
}

/** C R E A T E   A C C O U N T ***/
.createAccount-page{
    padding: 40px;
  }
.cAccount-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 16px 0;
    font-size: 12px;
    color: #B8B8B8;
    font-weight: 200;
}
.cAccount-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    justify-content: space-around;
}
