/*** H O M E   P A G E ***/
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--vh, 1vh) * 100 );
}
.home-item{
    display: flex;
    flex-direction: column;
}
.home-item-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px 16px 24px;
}
.home-item-banner > h1{
    color: #4FA329;
}
.home-item-banner > h2{
    color: rgba(121, 121, 121, 0.883);
    font-size: 16px;
}


