/*** E X P L O R E ***/
#dept-title{
    padding: 16px;
}

.dept-category-container{
    display: flex;
    flex-direction: column;
}
.dept-category{
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    margin: 8px 0 8px 0;
    padding: 0 16px 0 16px;
    font-weight: 300;
}
.dept-aisle{
    padding: 0 16px 0 16px;
    color: grey
}
.dept-category-carousel{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    overflow:auto;
    
}
.category-carousel-item{
    width: 40%;
    margin: 16px;
    justify-self: center;
    text-align: center;
}
.dept-category-divider{
    width: 80%;
    height: .5px;
    background-color: grey;
    border: none;
    margin: auto;
}