/*** L O C A T I O N ***/

.lOne-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    height: 80vh;
}
.lOne-text{
    margin: 16px;
    text-align: center;
    width: 80%;
}
#lOne-title{
    color: #4FA329;
    font-size: 30px;
    margin: 16px;

}

.lOne-button-container{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
    width: 80%;
    margin: 16px;
    align-self:center;
}

.lOne-button{
    height: 25vh;
    width: 100%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border: 1px solid black;
}

#oShareLocation{
    margin-bottom: 8px;
}



/*** L O C A T I O N   Z I P ***/
.zipFinder{
    display: flex;
    flex-direction: column;
}
#enter-zipCode{
    color: #4FA329;
    font-size: 30px;
    margin: 0 auto;
}
#zipSubmit{
    box-shadow: 0 2px 4px 0 rgba(128, 127, 127, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    width: 180px;
    margin: 16px auto;

}
.grocerylist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grocerylist > button{
    width: 80vw;
    margin: 8px;
    box-shadow: 0 2px 4px 0 rgba(128, 127, 127, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.grocery-int-button{
    display: flex;
    flex-direction: column;
}
#shopping-location{
    align-self: flex-start;
    width: 180px;
    margin: 0 0 0 10vw;
    box-shadow: 0 2px 4px 0 rgba(128, 127, 127, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

}