/*** S C A N N E R ****/
.scan-page{
    width: 100vw;
    height:85vh;
    display: grid;
    grid-template-rows: 15% 65% 20%;
    justify-items: center;
    border: 5px solid red;
  }

  #scannerNav-title{
    align-self: center;
    padding: 24px;
    text-transform: uppercase;
  }
  #scanBtn{
    border: 2px solid black;
    width: 40%;
    align-self:center;
    
  }
  .scanner-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 100vw;
    padding: 20px 0 20px 0;
    border: 1px solid black;
  }
  
  #scanner-border-text{
    margin-top: 0px;
    z-index: 4;
    background-color: white;
    text-align: center;
  }
  .scanner-cam-container{
    width: 60vw;
    height: 60vw;
    border-radius: 5%;
    border: 1px solid orange;
    overflow: hidden;
  }
  .scanner-instruction{
    text-align: center;
    margin: 12px;
    border: 1px solid black;
  }
  #quag{
    margin: 100px;
  }
  
  
.scan-scannedDrawer-result{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 25vh;
}

#scan-drawer-result-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 125px;
  padding: 8px;
}

#scan-drawer-result-right{
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
}
#scan-drawer-result-right > h1{
  font-size: 24px;
}
#scan-drawer-result-right > p{
  font-size: 20px;
  color: #8C8C8C;
}
#scan-drawer-result-right > h5{
  font-size: 26px;
  color: #252525;
}

#scan-item-quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
